* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.outer {
    background-color: antiquewhite;
    border: 3px solid black;
    height: 100%;
    margin: 15px;
}

.food {
    background-color: #66cc66;
    height: 30vh;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



table {
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
}

td {
    height: 12px !important;
    border: 1px solid #000;
    background-color: #fff;
}
td p{
    font-size: 8px;
}
td h3{
    font-size: 12px;
} h2{
    font-size: 14px;
}

.row1{
    width: 10% !important; 
    display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin: 10px;   
    }
.row2{
width: 40% !important;   
margin-right: 3% !important; 
}
.row3{
width: 50% !important;    
}
.food h1 { 
    text-transform: uppercase;
}
 
@media (max-width: 768px) and (min-width: 593px) {
    td p{
        font-size: 5px !important;
    }
    td h3{
        font-size: 8px !important;
    }
    h2{
        font-size: 8px !important;
    }td {
        padding: 4px !important;
    }.food h1 { 
        font-size: 14px !important;
    }.food {
        height: 20vh !important;
    }
}

@media (max-width: 593px) and (min-width: 468px) {
    td p{
        font-size: 4px !important;
    }
    td h3{
        font-size: 6px !important;
    }
    h2{
        font-size: 6px !important;
    }td {
        padding: 3px !important;
    }.food h1 { 
        font-size: 12px !important;
    }.food {
        height: 15vh !important;
    }
}
@media (max-width: 468px) and (min-width: 383px) {
    td p{
        font-size: 3px !important;
    }
    td h3{
        font-size: 4px !important;
    }
    h2{
        font-size: 4px !important;
    }td {
        padding: 2px !important;
    }.food h1 { 
        font-size: 10px !important;
    }
}

@media (max-width: 383px) {
    td p{
        font-size: 2px !important;
    }
    td h3{
        font-size: 3px !important;
    }
    h2{
        font-size: 3px !important;
    }td {
        padding: 1px !important;
    }.food h1 { 
        font-size: 8px !important;
    }.food {
        height: 10vh !important;
    }
}
td .container {
    display: flex;
    justify-content: space-between;
    width: 200px; /* Adjust as needed */
}
.prayer_room h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 0; /* Remove default margins */ 
}
.prayer_room {
    background: #faead7;
    border: none;
    padding: 0; /* Remove padding from the table cell */
}

.exit_hall h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color:#ff0000;
    color: #fff;
    margin: 0; /* Remove default margins */
    padding: 10px; /* Add some padding if needed */
}
.exit_hall {
    background: #faead7;
    border: none;
    padding: 0; /* Remove padding from the table cell */
}

td[rowspan="2"] {
    height: 100px;
    padding: 10px;
}

td[colspan="2"] {
    height: 100px;
    padding: 10px;
}

.box1 td {
    padding: 8px;
}

.box5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-item {
    margin: 0 18px;
}

.box2 {
    margin-top: 30px !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.box2 table td {
    padding: 7px;
}

.box6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.box6 td {
    padding: 27px 21px;
}

.box3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 20px;
}

.box3 td {
    padding: 10px;
}

.box7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.box7 td {
    padding: 10px 21px;
}

.box4 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.box4 td {
    padding: 10px;
}

.box8 {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box8 td {
    padding: 10px 21px;
}

.box9 {
    margin-top: 130px;
}

.box9 td {
    padding: 10px 21px;
}

.prayer-room {
    background-color: #323232;
    color: white;
    padding: 50px 18px;
    text-align: center;
    margin-top: 8rem;
}

.vip-lounge {
    background-color: rgb(157, 73, 73);
    color: white;
    padding: 50px 18px;
    text-align: center;
    margin-top: 8rem;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left-table-container,
.right-table-container {
    margin: 10px;
}

.left-table-container td,
.right-table-container td {
    padding: 15px 25px !important;
}

table {
    width: 100%;
}

td {
    padding: 10px;
    text-align: center;
}

.hall {
    background-color: red;
    width: 110px;
    margin: 10px;
    padding: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hall i {
    color: white;
    font-size: 35px;
}

.arrows {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
}

h5 {
    text-align: center;
    margin-top: 5px;
    color: white;
}

.blank {
    background-color: black;
    width: 80px;
    height: 80px;
    margin: 0 0 0 560px !important;
}
 